{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">



        <div class="table-responsive">
            <div class="row">
                <div class="col-md-3">
                    <label for="byAge"> Select By Age</label>
                    <select id="byAge" name="byAge" data-column="4" class="form-control">
                        <option value="" selected="selected">All</option>
                        {% for user in users %}
                            <option value="{{user.getAge}}" id="{{ user.id }}">{{user.getAge}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <table class="table table-bordered table-datatables">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Birth date</th>
                        <th scope="col">Age</th>
                        <th scope="col">
                            <a class="btn btn-outline-success" href="{{ path('add_user') }}">
                                Add user
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.birthDate|date('d/m/Y') }}</td>
                        <td>{{ user.getAge }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="block-pagination float-right">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
